.main-container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

nav{
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links-container{
    color: green;
}

.links{
    padding-left: 10px;
    padding-right: 10px;
    color: green;
    text-decoration: none;
}

.links:hover{
    color: blue;
}